.review-main {
    width: 70%;
}
.review-image {
    width: 30%;
}
.review-image img {
    max-width: 100%;
}
.btn-back {
    width: 10em;
    margin: auto;
}

/*レーティング*/
.star-rating {
  position: relative;
  display:inline-block;
  font-size: 25px;
}
.star-rating .star-rating-item{
  position:absolute;
  overflow: hidden;
}
.star-rating .star-rating-item:before{
  content:"★★★★★";
  color: #ffcc33;
}
.star-rating:after {
  content:"★★★★★";
  color: #ccc;
}

.cast-pic {
  border-radius: 200px;
  width: 80px;
}

.image-size {
  height: 300px;
  width: 200px;
  border-radius: 2px;
}

.over-view {
  padding: 20px 0 20px;
}

.clip-container {
  background-color: #fef298;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.clip {
  color: #a9a9a9;
}

.clip:hover {
  color: #808080;
}

.movie-list {
  margin: 0 10px 20px 0;
  display: inline-block;
  vertical-align: top;
}

.is-hidden {
  display: none;
}

.movie-list:nth-child(5n) {
  margin-right: 0;
}

.more {
  float: right;
}


.sns-wrapper a{
  text-decoration: none;
}

.sns-wrapper .fa-twitter-square {
  color: #1da1f2;
}

.sns-wrapper .fa-facebook-square {
  color: #3B5998;
}

/*insta*/
.insta {/*アイコンの背景*/
  position: relative;/*相対配置*/
  display: inline-block;
  width: 29px;/*幅*/
  height: 29px;/*高さ*/
  vertical-align: middle;/*垂直中央に*/
  background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;/*グラデーション①*/
  overflow: hidden;/*はみ出た部分を隠す*/
  border-radius: 8px;/*角丸に*/
}

.insta:before {/*グラデーションを重ねるため*/
  content: '';
  position: absolute;/*絶対配置*/
  top: 24px;/*ずらす*/
  left: -18px;/*ずらす*/
  width: 70px;/*グラデーションカバーの幅*/
  height: 70px;/*グラデーションカバーの高さ*/
  background: -webkit-radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
  background: radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);/*グラデーション②*/
}

.fa-instagram {/*アイコン*/
  color: #FFF;/*白に*/
  position: relative;/*z-indexを使うため*/
  z-index: 2;/*グラデーションより前に*/
  font-size: 24px;/*アイコンサイズ*/
  top: 2px;/*上下にずらす*/
  left: 4.1px;/*左右にずらす*/
}

.sns-wrapper a:hover {
  color: #ccc;
}
/**/


.clip-success {
  
}