.review-main {
    width: 70%;
}
.review-image {
    width: 30%;
}
.review-image img {
    max-width: 100%;
}
.btn-back {
    width: 10em;
    margin: auto;
}

/*レーティング*/
.star-rating {
  position: relative;
  display:inline-block;
  font-size: 25px;
}
.star-rating .star-rating-item{
  position:absolute;
  overflow: hidden;
}
.star-rating .star-rating-item:before{
  content:"★★★★★";
  color: #ffcc33;
}
.star-rating:after {
  content:"★★★★★";
  color: #ccc;
}

.cast-pic {
  border-radius: 200px;
  width: 80px;
}

.recommend-movies {
  margin: 10px 0 5px;
}

.small-wrapper{
  display: inline-block;
  vertical-align: top;
}

.image-size {
  height: 300px;
}

.over-view {
  padding: 20px 0 20px;
}