.image-wrapper {
    text-align: center;
}
.film-image {
    margin-bottom: 20px;
    object-fit: cover;
}
.film-title {
    height: 3.5em;
    overflow: hidden;
}
.description {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.detail-btn {
    display: block;
    width: 80%;
    margin: auto;
}
.pagination {
    justify-content: center;
}

.review-main {
    width: 70%;
}
.review-image {
    width: 30%;
}
.review-image img {
    max-width: 100%;
}
.btn-back {
    width: 10em;
    margin: auto;
}